################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/DelegatesEventsApp/.vs/DelegatesEventsApp
/DelegatesEventsApp/DelegatesEventsApp/obj
